@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-container {
  display: grid;
  gap: 5px;
  /*AGREGUÉ*/
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat 4, auto; }
  .grid-container header {
    grid-column: 1/ span3; }
    .grid-container header .logo img {
      background-position: center;
      display: flex;
      justify-content: center;
      background-color: transparent;
      transform: rotateX(50deg); }
    .grid-container header .menu {
      box-sizing: border-box;
      background-color: wheat;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center; }
      .grid-container header .menu ul {
        display: flex;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        list-style: none;
        text-align: center; }
        .grid-container header .menu ul li {
          display: flex; }
          .grid-container header .menu ul li a {
            background-color: rgba(223, 207, 179, 0.857);
            display: grid;
            /*agregué ahora*/
            grid-template-columns: 20% 20% 20% 20%  20%; }
            .grid-container header .menu ul li a a {
              color: black;
              /*aplico flex al menú*/
              padding: 10px;
              margin: 0 10px;
              position: relative;
              text-decoration: none; }
            .grid-container header .menu ul li ahover {
              background-color: rgba(223, 207, 179, 0.857);
              display: grid;
              /*agregué ahora*/
              grid-template-columns: 20% 20% 20% 20%  20%; }
  .grid-container .intro {
    background-image: url(../assets/Imagenes/inicio.jpg);
    /*background-color: rgb(216, 211, 191);*/
    min-height: 400px;
    padding: 20px;
    text-align: center;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-column: 1 /span3; }
    .grid-container .intro .intro__title {
      color: white;
      background-color: transparent;
      font-size: 40px;
      margin-bottom: 20px;
      text-align-last: center; }
    .grid-container .intro h2 {
      color: white;
      text-align-last: center; }
  .grid-container .header-llegar {
    grid-column: 1 / span 3; }
    .grid-container .header-llegar .logo {
      background-position: center;
      justify-content: center;
      display: flex; }
    .grid-container .header-llegar .menu {
      background-color: wheat;
      box-sizing: border-box;
      justify-content: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
      .grid-container .header-llegar .menu .menu ul {
        display: flex;
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        list-style: none;
        text-align: center; }
        .grid-container .header-llegar .menu .menu ul li {
          display: flex; }
          .grid-container .header-llegar .menu .menu ul li a {
            color: black;
            display: block;
            padding: 10px;
            margin: 0 10px;
            text-decoration: none; }
          .grid-container .header-llegar .menu .menu ul lihover {
            background-color: rgba(224, 210, 190, 0.418);
            display: grid;
            /*agregué ahora*/
            grid-template-columns: 20% 10% 20% 20%  20%; }
  .grid-container .intro .list ul li {
    font-display: flex;
    color: white;
    list-style-type: none;
    vertical-align: middle;
    text-align: right; }
  .grid-container .header-con .logo {
    background-position: center;
    display: flex;
    justify-content: center; }
  .grid-container .header-con .header-con .menu {
    background-color: wheat;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    grid-column: 1 / 3; }
    .grid-container .header-con .header-con .menu ul {
      display: flex;
      font-family: 'Cormorant Garamond', serif;
      font-weight: bold;
      list-style: none;
      text-align: center; }
      .grid-container .header-con .header-con .menu ul li {
        display: flex; }
        .grid-container .header-con .header-con .menu ul li a {
          color: black;
          display: block;
          padding: 20px 60px;
          text-decoration: none; }
        .grid-container .header-con .header-con .menu ul lihover {
          background-color: rgba(223, 207, 179, 0.857);
          display: flex;
          /*agregué ahora*/
          grid-template-columns: 20% 10% 20% 20%  20%; }
  .grid-container .intro .formu .tit {
    color: black(241, 154, 22, 0.918);
    background-color: transparent;
    font-size: 42px; }
  .grid-container .header-galeria {
    grid-column: 1 /span3; }
    .grid-container .header-galeria .logo {
      background-position: center;
      display: flex;
      justify-content: center; }
    .grid-container .header-galeria .menu {
      background-color: wheat;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      grid-column: 1 /span3;
      justify-content: center; }
      .grid-container .header-galeria .menu ul {
        font-family: 'Cormorant Garamond', serif;
        font-weight: bold;
        list-style: none;
        text-align: center;
        display: flex; }
        .grid-container .header-galeria .menu ul li {
          display: flex; }
          .grid-container .header-galeria .menu ul li a {
            color: black;
            display: block;
            padding: 20px 60px;
            text-decoration: none;
            padding: 10px; }
          .grid-container .header-galeria .menu ul lihover {
            background-color: #e0c18b;
            display: grid;
            grid-template-columns: 20% 10% 20% 20%  20%; }
  .grid-container .gallery-container {
    display: grid;
    grid-template-columns: repeat 2, 45%;
    /* (3,1fr);*/
    grid-auto-rows: 3,200px;
    /*500px;*/
    padding: 20px;
    grid-gap: 10px;
    background-color: #f2d2a9;
    margin: 0;
    width: 100%;
    grid-column: 1 / span 3;
    gap: 18px; }
  .grid-container .gallery__item {
    position: relative; }
  .grid-container .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .grid-container .gallery__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3; }
  .grid-container .gallery__item:nth-child(2) {
    grid-row-start: span 2; }
  .grid-container .gallery__item:nth-child(5) {
    grid-column-start: span 2; }
  .grid-container .gallery__item:nth-child(6) {
    grid-column-start: span 3; }
